*~
*.dat
*.log
*.log-backup
*.log.count
*.o
abc-dir/*
c/complex
c/hsort_main
c/int-types
c/pointer
callgrind.out.*
core
io/abc-dir/abc_file_00*
io/abc-highlevel
io/abc-lowlevel
io/advisory-locking
io/advisory-locking-blocking
io/failing-io
io/file-stat
io/highlevel-io
io/lockf-file-part1
io/lockf-file-part2
io/lowlevel-io
io/lowlevel-read-write
io/not-reading-dir
io/passwd
io/password-test
io/read-string-array
io/reading-deleted-file
io/reading-dir
io/reading-dir-short
io/shared-locking
io/stdin-read
io/stdio-stat
io/tty-read
ipc/daemonize-group-signal
ipc/daemonize-group-signal-sigaction
ipc/daemonize-signal-and-pipe
ipc/msgqueue
ipc/msgqueue-hello
ipc/msgqueue-negative-typed
ipc/msgqueue-positive-typed
ipc/msgqueue-simple
ipc/mutex-attr-ipc
ipc/mutex-ipc
ipc/mutex-ipc-separate
ipc/other-semaphore
ipc/posix-sem-ipc
ipc/semaphore
ipc/semaphore-simple
ipc/shared-memory
ipc/shared-memory-count
ipc/shared-memory-count-output-semaphore
ipc/shared-memory-count-simple
ipc/shared-memory-count-simple-posix
ipc/signal
ipc/sysv-sem-ipc
lib/TODO
lib/fsort-orig.c
lib/fsort-orig.c-unused
lib/fsort-orig.o
lib/fsort.o
lib/hsort.o
lib/isort.o
lib/lib.o
lib/libitsky.a
lib/sort_common.o
myfile
processes/daemonize
processes/daemonize-group-signal
processes/daemonize-with-pipe
processes/extract
processes/fork-wait
processes/fork-write-twice
processes/myfile
processes/transmit-via-pipe
socket/address
socket/socket-ipc-1
socket/tcp-square-client
socket/tcp-square-client-ipv6
socket/tcp-square-client-protocol
socket/tcp-square-server
socket/tcp-square-server-fork
socket/tcp-square-server-ipv6
socket/tcp-square-server-protocol
socket/tcp-square-server-thread
socket/tcp-thread-sorted-once-server
socket/udp-square-client
socket/udp-square-server
sort-data/*
temp.txt
template
test/hsort-test
test/psort-test
test/sort-test
threads/#thread-sort-once-pd.c#
threads/a.out
threads/barriere
threads/condition
threads/deadlock
threads/exit-pthread-exit
threads/find-extreme-strings
threads/flockfile-for-extended-output
threads/multithreaded-sort
threads/mutex-attr-threads
threads/mutex-order
threads/mutex-reentrance
threads/mutex-threads
threads/myfile
threads/nonblocking
threads/posix-sem-threads
threads/summation
threads/sysv-sem-threads
threads/thread
threads/thread-id
threads/thread-memory-count-by-file
threads/thread-memory-count-mutex
threads/thread-memory-count-posix-semaphore
threads/thread-memory-count-readwrite
threads/thread-once
threads/thread-once-detach
threads/thread-once-key
threads/thread-param-trap
threads/thread-sort-once
threads/thread-sort-once-pd
threads/thread_return
threads/thread_write_once
threads/threadf
threads/timedlock
unused/*
posix/socket/tcp-square-client-dns
posix/socket/tcp-square-server-dns
